<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jielim36.devgram.mapper.FollowMapper">
    <resultMap id="UserDTOResultMap" type="com.jielim36.devgram.DTO.UserDTO">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="avatar_url" column="avatar_url"/>
        <result property="is_following" column="is_following"/>
    </resultMap>

    <insert id="addFollow" parameterType="com.jielim36.devgram.entity.FollowEntity" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO follow (follower_id, following_id)
            VALUES (#{follower_id}, #{following_id})
            ON DUPLICATE KEY UPDATE
            is_deleted = FALSE,
            updated_at = CURRENT_TIMESTAMP
    </insert>

    <update id="unfollow" parameterType="com.jielim36.devgram.entity.FollowEntity">
        UPDATE follow
            SET is_deleted = TRUE
            WHERE follower_id = #{follower_id}
            AND following_id = #{following_id};
    </update>

    <select id="getFollowingByUserId" resultMap="UserDTOResultMap">
        SELECT
            id,
            username,
            avatar_url,
            true is_following
        FROM `user`
        WHERE id IN (
            SELECT following_id
            FROM `follow`
            WHERE follower_id = #{follower_id}
            AND is_deleted = FALSE
        )
        ORDER BY updated_at DESC
        LIMIT #{pages},#{limit};
    </select>

    <select id="getFollowerByUserId" resultMap="UserDTOResultMap">
        SELECT
            u.id,
            u.username,
            u.avatar_url,
            CASE
            WHEN f2.follower_id IS NOT NULL THEN TRUE
            ELSE FALSE
            END AS is_following
        FROM `user` u
        JOIN `follow` f1 ON u.id = f1.follower_id AND f1.is_deleted = FALSE
        LEFT JOIN `follow` f2 ON u.id = f2.following_id AND f2.follower_id = #{following_id} AND f2.is_deleted = FALSE
        WHERE f1.following_id = #{following_id} AND u.is_active = TRUE
        ORDER BY f1.updated_at DESC
        LIMIT #{pages}, #{limit};
    </select>

    <select id="isFollowing" resultType="boolean">
        SELECT
            COUNT(*) > 0
        FROM
            follow
        WHERE
            follower_id = #{follower_id}
        AND
            following_id = #{following_id}
        AND
            is_deleted = FALSE
    </select>

    <select id="getFollowerCount" resultType="int">
        SELECT
            COUNT(*)
        FROM
            follow
        WHERE
            following_id = #{following_id}
        AND
            is_deleted = FALSE
    </select>

    <select id="getFollowingCount" resultType="int">
        SELECT
            COUNT(*)
        FROM
            follow
        WHERE
            follower_id = #{follower_id}
        AND
            is_deleted = FALSE
    </select>
</mapper>