<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jielim36.devgram.mapper.PostMapper">
    <insert id="addPost" parameterType="com.jielim36.devgram.entity.PostEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO post (user_id, description) VALUES (#{user_id}, #{description})
    </insert>

    <!--    TODO: implement popular algorithms such as depend on likes -->
    <select id="getPopularPosts" resultType="com.jielim36.devgram.entity.PostEntity">
        SELECT * FROM post ORDER BY created_at DESC;
    </select>

    <select id="getPostByPostId" resultType="com.jielim36.devgram.entity.PostEntity">
        SELECT * FROM post WHERE id = #{id};
    </select>

    <select id="getPostsByUserId" resultType="com.jielim36.devgram.entity.PostEntity">
        SELECT * FROM post WHERE user_id = #{user_id};
    </select>

    <delete id="deletePostByPostId" parameterType="long">
        DELETE FROM post WHERE id = #{id};
    </delete>

</mapper>